article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e;}
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Saurabh Kumar/ http://saurabhworld.in
   ========================================================================== */

body{  background-image: url('../img/body-bg-pattern.jpg'); }

#fullscreen-bg-fixed{
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

header  #logo-top-main{
    background: url('../img/logo-manthan.jpg') no-repeat;
    width: 529px;
    height: 336px;
    top: 0;
    left: 0;
    z-index: 0;  /* 99 less than background image*/
    position: fixed;
}

  header .top-right{
      background: url('../img/bg-top-right-486x160.png') no-repeat;
      width: 486px;
      height: 160px;
      top: 0;
      right: 0;
      z-index: 200;  /* 99 less than background image*/
      position: fixed;
      padding-top: 10px;
  }

  header .top-right p.info{
      font-size: 10px;
      text-align: right;
      padding: 0 20px 0 0;
      margin: 0;      
  }

  header .top-right ul{
      padding-right: 24px;
  }
  
  header .top-right ul li{
      float: right;
      list-style: none;
      padding: 10px;
      display: inline;
  }

  header .top-right ul a{
      font-size: 20px;
      font-weight: bold;
  }  


aside.fixed{
  position: fixed;
  top: 330px;
  width: 280px;  
  min-width: 100px;
  text-align: right;
  padding-right: 20px;  
  border-right: 3px solid #ccc;
}

aside.fixed nav a{
  font-size: 25px;
  font-weight: bold;
  color: #575346;
  line-height: 37px;
  padding: 3px 5px 3px 15px;
  text-shadow: 0px 2px 3px #fff;
  display: inline;
  border-radius: 20px 0px 0px 20px;
}

aside.fixed nav a:hover, 
aside.fixed nav li.active a{
  color: red;
  background: rgba(0,0,0,0.1);
  text-shadow: 0px 2px 3px #000;
  radius: 8px;
}

#wrapper {  
  position: relative;  
  min-height: 400px;  
  min-width: 300px;
  max-width: 1000px;  
  margin-left: 320px;
  margin-right: 20px;
}

section{  margin: 50px 0;  padding-top: 200px; }

section h1 {
  padding: 10px;
  /*background: rgba(0,0,0, 0.1);*/
  border-radius: 1px;
  box-shadow: 0px 1px 3px #ddd;
  margin-bottom: 15px;

}
section h3 {
    color: #CF6E25;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}


/***************************************/
/* home            ********************/
/***************************************/

article.banner{  text-align: center; }

article.banner h1.title{
  font-size: 40px;
  font-weight: normal;
  box-shadow: 0px 0px 0px #ddd;
  margin-bottom: 0px;
}

div.promo {
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter:alpha(opacity=6);

  box-shadow: 0 0 10px #000;  
}

iframe.video{
  display: none;
}

div.more-info{  margin-top: 50px;}

/* ==|== Sponsors Section ========================================   
   ========================================================================== */


section#sponsors{
  padding-top: 30px; /*overide default*/
}

section#sponsors .thumbnail {
  height: 100px;
  width: 150px;  
}

section#sponsors .thumbnail:hover {
  border:1px solid #999;

  -moz-box-shadow:0 0 30px #999 inset;
  -webkit-box-shadow:0 0 30px #999 inset;
  box-shadow:0 0 30px #999 inset;
}    


section#sponsors ul.thumbnails img{
  max-width: 150px;
  max-height: 95px;
  position: relative;
  margin: 0 auto;
}

article.sponsor {
  background: #fff;
  text-align: center;
}

article.sponsor p{
  font-size: 11px;
  line-height: 13px;
  margin: 0 0 3px;
}

article.sponsor .caption {
    padding: 6px 0 0 0;
}



/* ==|== Speaker Section ========================================   
   ========================================================================== */


article.speaker {
    height: 170px;
    width: 340px;
    float: left;
    margin-left: 20px;
}

article.speaker img {
    border-radius: 20px 20px 20px 20px;
    float: left;
    margin-bottom: 100px;
    margin-right: 1em;
    max-height: 108px;
    box-shadow: 0px 1px 2px #000;
}

article.speaker h3 {    margin-top: 0.2em;}

article.speaker .h-org {    font-weight: bold;}

article.speaker p {    margin: 0.5em;}


/* ==|== Schedule Section ========================================   
   ========================================================================== */

article.event {
    background: none repeat scroll 0 0 rgba(232, 225, 194, 0.5);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 5px;
    padding: 2px 20px 20px;
}

article.event h2{
  font-size: 16px;
}

/****************************************/
/* about            ********************/
/***************************************/
section#about p{
  text-align: justify;
}


/* ==|== Registration Section ========================================   
   ========================================================================== */

span.fee{
  font-size: 2em;
  color: rgb(207, 110, 37);
  display: block;
  font-weight: 800;
  padding-top: 1.4em;
}

/****************************************/
/* footer         ********************/
/***************************************/
footer#fixed-left{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 300px;  
}

footer#site-footer {
    border-top: 1px solid #CCCCCC;
    font-size: 0.9em;
    margin: 10px 0 50px 0px;
    padding: 4px 0;
}



/* ==|== media queries ======================================================
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { border:0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }



  #fullscreen-bg-fixed,
  aside.fixed{
    display: none;    
  }

  #wrapper{
    width: 95%;
    max-width: 95% !important;
    min-width: 6% !important;
    margin: 20px 100px 100px 50px;
  }

  section{
    padding-top: 20px !important;
    page-break-inside: avoid;
  }

  ul.thumbnails{
    list-style: none;    
  }

  ul.thumbnails li{
    list-style: none;
    display: inline;
    float: left;
    width: 200px;
    page-break-inside: avoid;
  }

}
